/*!Don't remove this!
 * duDatePicker styles
 * 
 * Author: Dionlee Uy
 * Email: dionleeuy@gmail.com
 */
/*
:root {
    --main-bg-color: white;
    --main-color: black;

    --blue: #4CBBEC;

    --second-bg-color: black;
    --second-color: white;


    --header-btns_height: 20px;
    
    --grey: #EAEAEA;
    
    --light-grey: #878787;

}
*/


.dcalendarpicker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  transition: background-color 0.2s linear, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: background-color, opacity;
  z-index: 100001;
  overflow: hidden;
}

.dcalendarpicker .dudp__wrapper {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: normal;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
/*  bottom: 24px;*/
  min-width: calc(252x*var(--coef));
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  /*border-radius: 14px;*/
  transform: translateX(-50%) scale(1.05) perspective(1px);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform, -moz-transform, opacity;
}

.dcalendarpicker .dudp__calendar-header {
    display: none;
  font-size: calc(18px*var(--coef));
  padding: calc(20px*var(--coef));
  color: gainsboro;
  box-sizing: content-box;
}

.dcalendarpicker .dudp__calendar-header .dudp__sel-year,
.dcalendarpicker .dudp__calendar-header .dcp_sel-date {
  display: block;
  cursor: pointer;
}

.dcalendarpicker .dudp__calendar-header .dudp__sel-year:hover,
.dcalendarpicker .dudp__calendar-header .dcp_sel-date:hover {
  color: #fff;
}

.dcalendarpicker .dudp__calendar-header .dcp_sel-date {
  font-size:calc(30px*var(--coef));
}

.dcalendarpicker .dudp__cal-container {
  position: relative;
  background-color: #fff;
  width: calc(252px*var(--coef));
  /*width: 284px;*/
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  flex: 0 1 auto;
  border-radius: 10px;
}

.dcalendarpicker .dudp__cal-container .dudp__btn-cal-prev,
.dcalendarpicker .dudp__cal-container .dudp__btn-cal-next {
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  text-align: center;
  font-size: calc(28px*var(--coef));
  line-height: calc(44px*var(--coef));
  width: calc(48px*var(--coef));
  height: calc(48px*var(--coef));
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1), background-color 0.25s linear;
  will-change: opacity, background-color;
  z-index: 2;
   color:var(--blue);
}

.dcalendarpicker .dudp__cal-container .dudp__btn-cal-prev:hover,
.dcalendarpicker .dudp__cal-container .dudp__btn-cal-next:hover {
  background-color: #d9d9d9;
}

.dcalendarpicker .dudp__cal-container .dudp__btn-cal-prev:active,
.dcalendarpicker .dudp__cal-container .dudp__btn-cal-next:active {
  background-color: #bfbfbf;
}

.dcalendarpicker .dudp__cal-container .dudp__btn-cal-prev.dp__hidden,
.dcalendarpicker .dudp__cal-container .dudp__btn-cal-next.dp__hidden {
  opacity: 0;
  visibility: hidden;
}

.dcalendarpicker .dudp__cal-container .dudp__btn-cal-next {
  left: auto;
  right: 0px;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar-views {
  width: calc(860px*var(--coef));
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  will-change: opacity;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar-views.dp__animate-out {
  opacity: 0;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar-views.dp__hidden {
  visibility: hidden;
  opacity: 0;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar {
  display: inline-block;
  padding: 0 0px 10px;
  opacity: 1;
  transform: translateX(-100%) perspective(1px);
  transition: none;
  will-change: transform;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar.dp__zooming {
  transition: transform 0.25s, opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.dcalendarpicker .dudp__cal-container .dudp__calendar.dp__animate-zoom {
  opacity: 0;
  transform: translateX(-100%) perspective(1px) scale(0.85);
}

.dcalendarpicker .dudp__cal-container .dudp__calendar.dp__animate-left {
  transform: translateX(-200%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar.dp__animate-right {
  transform: translateX(0);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-month-year {
  text-align: center;
  line-height: calc(48px*var(--coef));
  font-size: calc(14px*var(--coef));
  font-weight: 500;
  background: var(--second-bg-color);
  color:var(--second-color);
  
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-month-year .cal-month{
    font-size: calc(20px*var(--coef));
    font-weight:400;    
}
.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-month-year .cal-year{
    font-size: calc(30px*var(--coef));
    font-weight:100;   
    font-family: 'Roboto Thin', arial;
}




.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-month-year span {
  display: inline-block;
  cursor: pointer;
  padding: 0 4px;

}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__weekdays {
  display: flex;
  flex-direction: row;
  background: var(--second-bg-color);
  color:var(--second-color);
  border-bottom-left-radius:calc(10px*var(--coef));
  border-bottom-right-radius:calc(10px*var(--coef));
  padding-bottom: calc(5px*var(--coef));
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__weekdays span {
  display: inline-block;
  flex: 0 1 auto;
  width: calc(36px*var(--coef));
  text-align: center;
  /*color: #323232;*/
  font-size: calc(11px*var(--coef));
  line-height: calc(20px*var(--coef));
  vertical-align: middle;

}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week {
  display: flex;
  flex-direction: row;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date {
  position: relative;
  flex: 0 1 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #323232;
  width: calc(36px*var(--coef));
  line-height: calc(36px*var(--coef));
  height: calc(36px*var(--coef));
  outline: none;
  cursor: pointer;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  transition: background-color .24s, color .24s;
  z-index: -1;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.dudp__pm, .dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.dudp__nm {
  color: #969696;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.disabled {
  cursor: not-allowed;
  color: #c8c8c8;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date:not(.disabled):not(.selected):not(.range-from):not(.range-to):hover:before {
  background-color: #d9d9d9;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date:not(.disabled):not(.selected):not(.range-from):not(.range-to):active:before {
  background-color: #bfbfbf;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: var(--blue);
  font-weight: 500;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.in-range {
  background-color: rgba(25, 118, 210, 0.2);
  border-radius: 0;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.selected, .dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-from, .dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  font-weight: normal;
  color: #fff !important;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.selected:before, .dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-from:before, .dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: var(--blue);
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-from {
  background-color: rgba(25, 118, 210, 0.2);
  border-radius: 50% 0 0 50%;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(25, 118, 210, 0.2);
  border-radius: 0 50% 50% 0;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-from.range-to {
  border-radius: 50%;
}

.dcalendarpicker .dudp__cal-container .dudp__months-view {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1) perspective(1px);
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  will-change: transform, opacity;
}

.dcalendarpicker .dudp__cal-container .dudp__months-view.dp__animate-out {
  opacity: 0;
  transform: scale(1.3);
}

.dcalendarpicker .dudp__cal-container .dudp__months-view.dp__hidden {
  display: none;
  opacity: 0;
}

.dcalendarpicker .dudp__cal-container .dudp__months-view .dudp__month-row {
  display: flex;
  flex-direction: row;
}

.dcalendarpicker .dudp__cal-container .dudp__months-view .dudp__month {
  flex: 0 1 auto;
  display: inline-block;
  line-height: calc(63px*var(--coef));
  min-width: calc(63px*var(--coef));
  text-align: center;
  font-size: calc(16px*var(--coef));
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color .2s linear;
  color:white;
  border:thin solid var(lgrey);
}

.dcalendarpicker .dudp__cal-container .dudp__months-view .dudp__month:hover {
  background-color: #d9d9d9;
}

.dcalendarpicker .dudp__cal-container .dudp__months-view .dudp__month:active {
  background-color: #bfbfbf;
}

.dcalendarpicker .dudp__cal-container .dudp__months-view .dudp__month.selected {
  font-weight: 500;
  color: #1565c0;
}

.dcalendarpicker .dudp__cal-container .dudp__years-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  overflow-y: scroll;
  overflow-x: hidden;
}

.dcalendarpicker .dudp__cal-container .dudp__years-view.dp__hidden {
  opacity: 0;
  visibility: hidden;
}

.dcalendarpicker .dudp__cal-container .dudp__years-view .dudp__year {
  display: block;
  padding: calc(10px*var(--coef));
  text-align: center;
  font-size: calc(16px*var(--coef));
  cursor: pointer;
  transition: background-color .2s linear;
}

.dcalendarpicker .dudp__cal-container .dudp__years-view .dudp__year:hover {
  background-color: #d9d9d9;
}

.dcalendarpicker .dudp__cal-container .dudp__years-view .dudp__year:active {
  background-color: #bfbfbf;
}

.dcalendarpicker .dudp__cal-container .dudp__years-view .dudp__year.selected {
  font-weight: 500;
  font-size: calc(24px*var(--coef));
  color: #1565c0;
}

.dcalendarpicker .dudp__cal-container .dudp__buttons {
  padding: 0 calc(10px*var(--coef)) calc(10px*var(--coef));;
  text-align: right;
}

.dcalendarpicker .dudp__cal-container .dudp__buttons.dp__hidden {
  visibility: hidden;
}

.dcalendarpicker .dudp__cal-container .dudp__buttons:after {
  content: '';
  display: block;
  clear: both;
}

.dcalendarpicker .dudp__cal-container .dudp__buttons .dudp__button {
  display: inline-block;
  font-size: calc(14px*var(--coef));
  padding: 0 calc(16px*var(--coef));;
  min-width: calc(40px*var(--coef));
  text-align: center;
  text-transform: uppercase;
  line-height: calc(32x*var(--coef));
  font-weight: 500;
  cursor: pointer;
  color: #1565c0;
  border-radius: 4px;
  transition: background-color .2s linear;
}

.dcalendarpicker .dudp__cal-container .dudp__buttons .dudp__button.clear {
  float: left;
  color: #b71c1c !important;
}

.dcalendarpicker .dudp__cal-container .dudp__buttons .dudp__button:hover {
  background-color: #d9d9d9;
}

.dcalendarpicker .dudp__cal-container .dudp__buttons .dudp__button:active {
  background-color: #bfbfbf;
}

.dcalendarpicker.dp__open {
  visibility: visible;
  opacity: 1;
  background-color: rgba(10, 10, 10, 0.65);
}

.dcalendarpicker.dp__open .dudp__wrapper {
  /*transform: translateX(-50%) scale(1);*/
    transform: translate(-50%,-50%);
}

.dcalendarpicker.dp__closing {
  opacity: 0;
  background-color: transparent;
}

.dcalendarpicker[inline='true'] {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  background-color: transparent !important;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.dcalendarpicker[inline='true'] .dudp__wrapper {
  position: relative;
  left: auto;
  bottom: auto;
  transform: none;
}

.dcalendarpicker[inline='true'].dp__open .dudp__wrapper {
  transform: none;
}

.dcalendarpicker[inline='true'] .dudp__cal-container {
  width: calc(272px*var(--coef));
}

.dcalendarpicker[inline='true'] .dudp__cal-container .dudp__calendar {
  padding: 0 calc(10px*var(--coef));;
}

@media (max-height: 414px) {
  .dcalendarpicker .dudp__wrapper {
    flex-direction: row;
    bottom:calc(8px*var(--coef));
  }
  .dcalendarpicker .dudp__calendar-header {
    width: calc(110px*var(--coef));
  }
}

@media (max-height: 320px) {
  .dcalendarpicker .dudp__wrapper {
    bottom: 0;
  }
}

body[datepicker-display='on'] {
  overflow: hidden;
}

.dudp__wrapper[data-theme='red'] .dudp__calendar-header {
  background-color: #c62828;
}

.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: #d32f2f;
}

.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.in-range,
.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.range-from,
.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(211, 47, 47, 0.2);
}

.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before,
.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before,
.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: #d32f2f;
}

.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before,
.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before,
.dudp__wrapper[data-theme='red'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: #b71c1c;
}

.dudp__wrapper[data-theme='red'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='red'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='red'] .dudp__years-view .dudp__year.selected {
  color: #b71c1c;
}

.dudp__wrapper[data-theme='green'] .dudp__calendar-header {
  background-color: #2e7d32;
}

.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: #388e3c;
}

.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.in-range,
.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.range-from,
.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(56, 142, 60, 0.2);
}

.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before,
.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before,
.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: #388e3c;
}

.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before,
.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before,
.dudp__wrapper[data-theme='green'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: #1b5e20;
}

.dudp__wrapper[data-theme='green'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='green'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='green'] .dudp__years-view .dudp__year.selected {
  color: #1b5e20;
}

.dudp__wrapper[data-theme='blue'] .dudp__calendar-header {
  background-color: #1565c0;
}

.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: var(--blue);
}

.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.in-range,
.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.range-from,
.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(25, 118, 210, 0.2);
}

.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before,
.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before,
.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: var(--blue);
}

.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before,
.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before,
.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: var(--blue);
}

.dudp__wrapper[data-theme='blue'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='blue'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='blue'] .dudp__years-view .dudp__year.selected {
  color: var(--blue);
}

.dudp__wrapper .dudp__buttons .dudp__button.ok, 
.dudp__wrapper .dudp__buttons .dudp__button.clear {
    box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.08)
}



.dudp__wrapper[data-theme='teal'] .dudp__calendar-header {
  background-color: #00695c;
}

.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: #00796b;
}

.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.in-range,
.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.range-from,
.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(0, 121, 107, 0.2);
}

.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before,
.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before,
.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: #00796b;
}

.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before,
.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before,
.dudp__wrapper[data-theme='teal'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: #004d40;
}

.dudp__wrapper[data-theme='teal'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='teal'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='teal'] .dudp__years-view .dudp__year.selected {
  color: #004d40;
}

.dudp__wrapper[data-theme='purple'] .dudp__calendar-header {
  background-color: #6a1b9a;
}

.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: #7b1fa2;
}

.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.in-range,
.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.range-from,
.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(123, 31, 162, 0.2);
}

.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before,
.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before,
.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: #7b1fa2;
}

.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before,
.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before,
.dudp__wrapper[data-theme='purple'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: #4a148c;
}

.dudp__wrapper[data-theme='purple'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='purple'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='purple'] .dudp__years-view .dudp__year.selected {
  color: #4a148c;
}

.dudp__wrapper[data-theme='indigo'] .dudp__calendar-header {
  background-color: #283593;
}

.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: #303f9f;
}

.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.in-range,
.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.range-from,
.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(48, 63, 159, 0.2);
}

.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before,
.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before,
.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: #303f9f;
}

.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before,
.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before,
.dudp__wrapper[data-theme='indigo'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: #1a237e;
}

.dudp__wrapper[data-theme='indigo'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='indigo'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='indigo'] .dudp__years-view .dudp__year.selected {
  color: #1a237e;
}

.dudp__wrapper[data-theme='dark'] .dudp__calendar-header {
  background-color: #121212;
}

.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date {
  color: rgba(255, 255, 255, 0.87);
}

.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.current {
  color: var(--blue);
}

.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.in-range, .dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.range-from, .dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.range-to {
  background-color: rgba(25, 118, 210, 0.2);
}

.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.selected:before, .dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:before, .dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:before {
  background-color: var(--blue);
}

.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.selected:hover:before, .dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.range-from:hover:before, .dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.range-to:hover:before {
  background-color: var(--blue);
}

.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date.disabled {
  color: rgba(255, 255, 255, 0.38);
}

.dudp__wrapper[data-theme='dark'] .dudp__cal-container,
.dudp__wrapper[data-theme='dark'] .dudp__cal-container .dudp__years-view {
  background-color: #1D1D1D;
}

.dudp__wrapper[data-theme='dark'] .dudp__cal-container .dudp__btn-cal-prev,
.dudp__wrapper[data-theme='dark'] .dudp__cal-container .dudp__btn-cal-next,
.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-month-year,
.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__weekdays span,
.dudp__wrapper[data-theme='dark'] .dudp__months-view .dudp__month:not(.selected),
.dudp__wrapper[data-theme='dark'] .dudp__years-view .dudp__year:not(.selected),
.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__pm,
.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__nm {
  color: rgba(255, 255, 255, 0.6);
}

.dudp__wrapper[data-theme='dark'] .dudp__buttons .dudp__button,
.dudp__wrapper[data-theme='dark'] .dudp__months-view .dudp__month.selected,
.dudp__wrapper[data-theme='dark'] .dudp__years-view .dudp__year.selected {
  color: var(--blue);
}

.dudp__wrapper[data-theme='dark'] .dudp__buttons .dudp__button.clear {
  color: #ef5350 !important;
}

.dudp__wrapper[data-theme='dark'] .dudp__cal-container .dudp__btn-cal-prev:hover,
.dudp__wrapper[data-theme='dark'] .dudp__cal-container .dudp__btn-cal-next:hover,
.dudp__wrapper[data-theme='dark'] .dudp__buttons .dudp__button:hover,
.dudp__wrapper[data-theme='dark'] .dudp__months-view .dudp__month:hover,
.dudp__wrapper[data-theme='dark'] .dudp__years-view .dudp__year:hover,
.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date:not(.disabled):not(.selected):not(.range-from):not(.range-to):hover:before {
  background-color: rgba(255, 255, 255, 0.04);
}

.dudp__wrapper[data-theme='dark'] .dudp__cal-container .dudp__btn-cal-prev:active,
.dudp__wrapper[data-theme='dark'] .dudp__cal-container .dudp__btn-cal-next:active,
.dudp__wrapper[data-theme='dark'] .dudp__buttons .dudp__button:active,
.dudp__wrapper[data-theme='dark'] .dudp__months-view .dudp__month:active,
.dudp__wrapper[data-theme='dark'] .dudp__years-view .dudp__year:active,
.dudp__wrapper[data-theme='dark'] .dudp__calendar .dudp__cal-week .dudp__date:not(.disabled):not(.selected):not(.range-from):not(.range-to):active:before {
  background-color: rgba(255, 255, 255, 0.1);
}
